DOMAIN_NAME=#domain
USER=#login

# MYSQL SETUP
SQL_DATABASE=#db_name
SQL_ROOT_PASSWORD=#root_password
SQL_USER=#user_name
SQL_PASSWORD=#user_pass
SQL_HOST=#host

# WORDPRESS SETUP
WP_ADMIN_USER=#admin_name
WP_ADMIN_PASSWORD#admin_password
WP_ADMIN_EMAIL#admin_email

WP_USER=#user_name
WP_PASSWORD=#user_password
WP_EMAIL=#user_email